html{
  font-size: 62.5%
}
body{
  font-family: Arial;
  font-size: 1.6rem;
}
.container{
  display: grid;
  /* grid-template-columns: 25% 20rem 20%;
  grid-template-rows: 30rem 30rem; */
  grid-template: 30rem 10rem 10rem/50% 20rem 10rem; 
  /* (filas/columnas) */
}
.item{
  background: lightblue;
  padding: 1rem;
  border: 0.1rem solid red;
}
