*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  font-family: Arial;
  font-size: 1.6rem;
}
.container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 20rem);
  height: 100vh;
}
.item {
  background: lightblue;
  padding: 1rem;
  border: 0.1rem solid red;
}
.item:nth-of-type(1) {
  grid-area: 1/1/span 2/span 3;
}
.item:nth-of-type(2) {
  grid-area: span 2/ span 2;
}
.item:nth-of-type(3) {
  grid-area: span 1/span 2;
}
